.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(218, 218, 218);
}

.App-link {
  color: #61dafb;
}

.OptionsPanel {
  position: absolute;
  right: 0;
  margin: 20px;
  width: 1000px;
  height: 98%;
  background-color: #f1f1f1;
}

.ChartPlotter {
  position: absolute;
  margin-left: 20px;
  padding-top: 5%;
  width: 55%;
}

.Space {
  margin-top: 60px;
}

.Break {
  margin-top: 20px;
}

.InputFile {
  margin-top: 100 px;
}

.InputButton {
  overflow: visible;
  margin-left: 60px;
}

.Menu {
  float: right;
  margin-top: 5%;
  margin-right: 15%;
  max-width: 30%;
  padding-top: 200px;
  padding: 50px;
  background-color: #f1f1f1;
}

.FunctionalButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.Container {
  display: flex;
}

.Input {
  max-width: 2px !important
}
